# Assignment 4:
test if the distribution of 
    
1) trip duration of bikers that ride during the day vs night
    
2) age of bikers for trips originating in Manhattan and in Brooklyn
    
are different. Use 3 tests: *KS, Pearson's, Spearman's*. 
    
- Use the scipy.stats functions scipy.stats.ks_2samp, scipy.stats.pearsonr, scipy.stats.spearmanr. 
    
- For the KS do the test with the entire dataset and with a subset 200 times smaller
    
- Choose a single significant threshold for the whole exercise. 
    
- For each test phrase the Null Hypothesis in words.
    
- Describe the return of the scipy function you use in each case.
    
- State the result in terms of rejection of the Null.

_______

In [27]:
import pylab as pl
import pandas as pd
import numpy as np
import os
import scipy.stats

%pylab inline

Populating the interactive namespace from numpy and matplotlib

# Read in data

In [28]:
df = pd.read_csv('201501-citibike-tripdata.zip')
df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,1346,1/1/2015 0:01,1/1/2015 0:24,455,1 Ave & E 44 St,40.750020,-73.969053,265,Stanton St & Chrystie St,40.722293,-73.991475,18660,Subscriber,1960.0,2
1,363,1/1/2015 0:02,1/1/2015 0:08,434,9 Ave & W 18 St,40.743174,-74.003664,482,W 15 St & 7 Ave,40.739355,-73.999318,16085,Subscriber,1963.0,1
2,346,1/1/2015 0:04,1/1/2015 0:10,491,E 24 St & Park Ave S,40.740964,-73.986022,505,6 Ave & W 33 St,40.749013,-73.988484,20845,Subscriber,1974.0,1
3,182,1/1/2015 0:04,1/1/2015 0:07,384,Fulton St & Waverly Ave,40.683178,-73.965964,399,Lafayette Ave & St James Pl,40.688515,-73.964763,19610,Subscriber,1969.0,1
4,969,1/1/2015 0:05,1/1/2015 0:21,474,5 Ave & E 29 St,40.745168,-73.986831,432,E 7 St & Avenue A,40.726218,-73.983799,20197,Subscriber,1977.0,1

In [29]:
df['date'] = pd.to_datetime(df['starttime'])
df.tail()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,date
285547,169,1/31/2015 23:57,2/1/2015 0:00,161,LaGuardia Pl & W 3 St,40.729170,-73.998102,368,Carmine St & 6 Ave,40.730386,-74.002150,17456,Subscriber,1956.0,1,2015-01-31 23:57:00
285548,827,1/31/2015 23:58,2/1/2015 0:12,252,MacDougal St & Washington Sq,40.732264,-73.998522,440,E 45 St & 3 Ave,40.752554,-73.972826,17669,Subscriber,1976.0,1,2015-01-31 23:58:00
285549,798,1/31/2015 23:58,2/1/2015 0:11,127,Barrow St & Hudson St,40.731724,-74.006744,433,E 13 St & Avenue A,40.729554,-73.980572,20237,Subscriber,1994.0,1,2015-01-31 23:58:00
285550,725,1/31/2015 23:58,2/1/2015 0:10,435,W 21 St & 6 Ave,40.741740,-73.994156,368,Carmine St & 6 Ave,40.730386,-74.002150,21029,Subscriber,1957.0,1,2015-01-31 23:58:00
285551,892,1/31/2015 23:59,2/1/2015 0:14,504,1 Ave & E 15 St,40.732219,-73.981656,295,Pike St & E Broadway,40.714067,-73.992939,18342,Subscriber,1974.0,1,2015-01-31 23:59:00

In [30]:
df['hour'] = df['date'].dt.hour

In [31]:
df.columns

Index(['tripduration', 'starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype',
       'birth year', 'gender', 'date', 'hour'],
      dtype='object')

# SPLIT BY CATEGORY

Formatting the dataframe to better fit to the assignment qustions.

### (1) trip duration day vs night:

## H0: there is no statistical difference between tripduration at nighttime and tripduration in daytime
$$ \alpha = 0.05 $$

### (2) age of bikers trip's origin Manhattan vs Brooklyn:

## H0: there is no statistical difference between age of bikers which their trip was originated in Manhattan and in Brooklyn
$$ \alpha = 0.05 $$

In [32]:
# (1) adding DayOrNight column

# creating a function to define daytime / nighttime trip
def day_or_night(hour):
    if hour >= 7 and hour < 20:
        return 1
    else:
        return 0

df['DayOrNight'] = df['hour'].apply(day_or_night)
df = df.dropna(0)
df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,date,hour,DayOrNight
0,1346,1/1/2015 0:01,1/1/2015 0:24,455,1 Ave & E 44 St,40.750020,-73.969053,265,Stanton St & Chrystie St,40.722293,-73.991475,18660,Subscriber,1960.0,2,2015-01-01 00:01:00,0,0
1,363,1/1/2015 0:02,1/1/2015 0:08,434,9 Ave & W 18 St,40.743174,-74.003664,482,W 15 St & 7 Ave,40.739355,-73.999318,16085,Subscriber,1963.0,1,2015-01-01 00:02:00,0,0
2,346,1/1/2015 0:04,1/1/2015 0:10,491,E 24 St & Park Ave S,40.740964,-73.986022,505,6 Ave & W 33 St,40.749013,-73.988484,20845,Subscriber,1974.0,1,2015-01-01 00:04:00,0,0
3,182,1/1/2015 0:04,1/1/2015 0:07,384,Fulton St & Waverly Ave,40.683178,-73.965964,399,Lafayette Ave & St James Pl,40.688515,-73.964763,19610,Subscriber,1969.0,1,2015-01-01 00:04:00,0,0
4,969,1/1/2015 0:05,1/1/2015 0:21,474,5 Ave & E 29 St,40.745168,-73.986831,432,E 7 St & Avenue A,40.726218,-73.983799,20197,Subscriber,1977.0,1,2015-01-01 00:05:00,0,0

In [33]:
# (2) adding ageM (Male) and ageF (Female) columns

df['ageM'] = 2015 - df['birth year'][(df['usertype'] == 'Subscriber') & (df['gender'] == 1)]
df['ageF'] = 2015 - df['birth year'][(df['usertype'] == 'Subscriber') & (df['gender'] == 2)]

df['ageM'].dropna(inplace= True)
df['ageF'].dropna(inplace= True)
df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,date,hour,DayOrNight,ageM,ageF
0,1346,1/1/2015 0:01,1/1/2015 0:24,455,1 Ave & E 44 St,40.750020,-73.969053,265,Stanton St & Chrystie St,40.722293,-73.991475,18660,Subscriber,1960.0,2,2015-01-01 00:01:00,0,0,NaN,55.0
1,363,1/1/2015 0:02,1/1/2015 0:08,434,9 Ave & W 18 St,40.743174,-74.003664,482,W 15 St & 7 Ave,40.739355,-73.999318,16085,Subscriber,1963.0,1,2015-01-01 00:02:00,0,0,52.0,NaN
2,346,1/1/2015 0:04,1/1/2015 0:10,491,E 24 St & Park Ave S,40.740964,-73.986022,505,6 Ave & W 33 St,40.749013,-73.988484,20845,Subscriber,1974.0,1,2015-01-01 00:04:00,0,0,41.0,NaN
3,182,1/1/2015 0:04,1/1/2015 0:07,384,Fulton St & Waverly Ave,40.683178,-73.965964,399,Lafayette Ave & St James Pl,40.688515,-73.964763,19610,Subscriber,1969.0,1,2015-01-01 00:04:00,0,0,46.0,NaN
4,969,1/1/2015 0:05,1/1/2015 0:21,474,5 Ave & E 29 St,40.745168,-73.986831,432,E 7 St & Avenue A,40.726218,-73.983799,20197,Subscriber,1977.0,1,2015-01-01 00:05:00,0,0,38.0,NaN

In [45]:
# (2) assigning lat-lon to describe Manhattan boundaries

minlat = 40.705987
maxlat = 40.807772
maxlon = -73.935288
minlon = -74.018589

def findLatLong(lat_lon):
    lat, lon = lat_lon
    if ((lat > minlat) & (lat < maxlat) & (lon > minlon) & (lon < maxlon)):
        return 1
    else:
        return 0
    
df['Manhattan'] = df[['start station latitude','start station longitude']].apply(findLatLong,axis=1)
df['Manhattan'].dropna(inplace = True)

In [46]:
df["Age"]= 2015 - df['birth year']
df['Age'].dropna(inplace = True)
df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,...,usertype,birth year,gender,date,hour,DayOrNight,ageM,ageF,Manhattan,Age
0,1346,1/1/2015 0:01,1/1/2015 0:24,455,1 Ave & E 44 St,40.750020,-73.969053,265,Stanton St & Chrystie St,40.722293,...,Subscriber,1960.0,2,2015-01-01 00:01:00,0,0,NaN,55.0,1,55.0
1,363,1/1/2015 0:02,1/1/2015 0:08,434,9 Ave & W 18 St,40.743174,-74.003664,482,W 15 St & 7 Ave,40.739355,...,Subscriber,1963.0,1,2015-01-01 00:02:00,0,0,52.0,NaN,1,52.0
2,346,1/1/2015 0:04,1/1/2015 0:10,491,E 24 St & Park Ave S,40.740964,-73.986022,505,6 Ave & W 33 St,40.749013,...,Subscriber,1974.0,1,2015-01-01 00:04:00,0,0,41.0,NaN,1,41.0
3,182,1/1/2015 0:04,1/1/2015 0:07,384,Fulton St & Waverly Ave,40.683178,-73.965964,399,Lafayette Ave & St James Pl,40.688515,...,Subscriber,1969.0,1,2015-01-01 00:04:00,0,0,46.0,NaN,0,46.0
4,969,1/1/2015 0:05,1/1/2015 0:21,474,5 Ave & E 29 St,40.745168,-73.986831,432,E 7 St & Avenue A,40.726218,...,Subscriber,1977.0,1,2015-01-01 00:05:00,0,0,38.0,NaN,1,38.0

In [47]:
df.describe()

/opt/rh/anaconda/root/envs/PUI2016_Python3/lib/python3.5/site-packages/numpy/lib/function_base.py:3403: RuntimeWarning: Invalid value encountered in median
  RuntimeWarning)

,tripduration,start station id,start station latitude,start station longitude,end station id,end station latitude,end station longitude,bikeid,birth year,gender,hour,DayOrNight,ageM,ageF,Manhattan,Age
count,279924.000000,279924.000000,279924.000000,279924.000000,279924.000000,279924.000000,279924.000000,279924.000000,279924.000000,279924.000000,279924.000000,279924.000000,227764.000000,52093.000000,279924.000000,279924.000000
mean,635.529058,442.295466,40.735816,-73.990181,438.847662,40.735618,-73.990401,18148.242466,1974.951419,1.185858,13.625627,0.839667,40.305272,38.951145,0.929113,40.048581
std,848.484027,329.524143,0.018691,0.011647,321.905455,0.018634,0.011706,2065.292950,11.574637,0.389607,4.922767,0.366915,11.595240,11.405112,0.256637,11.574637
min,60.000000,72.000000,40.680342,-74.017134,72.000000,40.680342,-74.017134,14529.000000,1899.000000,0.000000,0.000000,0.000000,16.000000,17.000000,0.000000,16.000000
25%,332.000000,308.000000,40.723627,-73.998102,307.000000,40.723180,-73.998522,16356.000000,1967.000000,1.000000,9.000000,1.000000,NaN,NaN,1.000000,31.000000
50%,498.000000,417.000000,40.738274,-73.990093,417.000000,40.738177,-73.990617,18149.000000,1977.000000,1.000000,14.000000,1.000000,NaN,NaN,1.000000,38.000000
75%,757.000000,492.000000,40.750450,-73.981854,492.000000,40.750200,-73.981918,19904.000000,1984.000000,1.000000,18.000000,1.000000,NaN,NaN,1.000000,48.000000
max,43023.000000,3002.000000,40.771522,-73.950048,3002.000000,40.771522,-73.950048,21690.000000,1999.000000,2.000000,23.000000,1.000000,116.000000,89.000000,1.000000,116.000000

______

## KS tests to compare 2 samples

http://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.ks_2samp.html

the KS test in scipy returns the p-value. the Null hypothesis will be rejected if:

$D_KS(n1,n2) > c(\alpha) \sqrt{\frac{(n1 + n2)}{n1n2}}$

In [37]:
# converting daytime trip durations and night time trip durations from dataframe to np.arrays
daytrips = (df.tripduration[df.DayOrNight == 1]).values
nighttrips = (df.tripduration[df.DayOrNight == 0]).values

# converting age & trip origin from dataframe to np.arrays
manhattan = df.Age[df.Manhattan == 1].values
brooklyn = df.Age[df.Manhattan == 0].values

In [38]:
ks_trip = scipy.stats.ks_2samp(daytrips, nighttrips)
ks_origin = scipy.stats.ks_2samp(manhattan, brooklyn)

print("ks_trip:", ks_trip)
print("ks_origin:", ks_origin)

ks_trip: Ks_2sampResult(statistic=0.055245161441305757, pvalue=1.8848788321729395e-100)
ks_origin: Ks_2sampResult(statistic=0.058398175215004344, pvalue=3.9059745178750188e-55)

#### KS test results:

In both cases ((1) trip duration and (2) trip origin) the KS result is ~0.05. Referring to the table where ($\alpha$) = 0.05, c($\alpha$) should be > 1.36 to reject the Null hypothesis. Since the pvalue I got is much smaller (very close to 0), it is much further at the tail of the distribution and **I reject the (1),(2) Null hypotheses**.

# Pearson's  test for correlation

    
http://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.pearsonr.html#scipy.stats.pearsonr

In [41]:
#sorting the np.arrays
daytrips.sort()
nighttrips.sort()
manhattan.sort()
brooklyn.sort()

#randomly picking daytrips/manhattan to set each pair of arrays' lenght to be the same
daytimerandom = np.random.choice(daytrips, len(nighttrips), replace=False)
manrandom = np.random.choice(manhattan,len(brooklyn), replace=False)
# Pearson's test
pears_trip = scipy.stats.pearsonr(daytimerandom, nighttrips)
pears_origin = scipy.stats.pearsonr(manrandom, brooklyn)

print("pears_trip:", pears_trip)
print("pears_origin:", pears_origin)

pears_trip: (0.0017097747827355717, 0.71719638175339084)
pears_origin: (-0.0059631755916612159, 0.40093172517846709)

#### Pearson's test results:

**I reject the (1),(2) Null hypotheses**.

# Spearman's  test for correlation

http://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.spearmanr.html#scipy.stats.spearmanr

In [44]:
spear_trip = scipy.stats.spearmanr(daytimerandom, nighttrips)
spear_origin = scipy.stats.spearmanr(manrandom, brooklyn)

print("spear_trip:",spear_trip)
print("spear_origin:",spear_origin)

spear_trip: SpearmanrResult(correlation=0.0022983552486698644, pvalue=0.6263314853539248)
spear_origin: SpearmanrResult(correlation=-0.0011396555510365389, pvalue=0.87246538147902464)

#### Spearman's test results:

**I reject the (1),(2) Null hypotheses**.